* {
  margin: 0;
  padding: 0;
}
.main-c {
  position: relative;
  width: 825px;
  margin: 50px auto;
  border: 5px solid black;
  font-family: Arial, Helvetica, sans-serif;
}
header {
  background-color: azure;
  text-transform: uppercase;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}
.header-h1 {
  padding: 10px;
}
img {
  width: 300px;
  height: auto;
}
p strong {
  font-weight: bolder;
  font-size: larger;
}
p {
  margin-bottom: 10px;
}
.ship {
  margin: 0;
}
aside {
  margin-top: 25px;
}
li {
  margin-left: 40px;
  margin-bottom: 5px;
}
li:last-child {
  margin-bottom: 20px;
}
a:link {
  color: black;
  text-decoration: underline;
}
a:visited {
  color: black;
  text-decoration: underline;
}
a:hover {
  color: red;
}
aside h2 {
  text-transform: uppercase;
  font-family: "Courier New", Courier, monospace;
  margin-bottom: 10px;
}
main p:nth-child(3) {
  font-size: small;
  color: goldenrod;
  text-transform: uppercase;
}
button {
  cursor: pointer;
  width: 100%;
  height: 50px;
  text-transform: uppercase;
}
button:hover {
  color: white;
  background-color: black;
}
.box-c {
  margin: 25px 0;
}
#box1 {
  display: inline-block;
  width: 25px;
  height: 25px;

  background-color: black;
}
#box2 {
  display: inline-block;
  width: 25px;
  height: 25px;

  background-color: blue;
}
#box3 {
  display: inline-block;
  width: 25px;
  height: 25px;

  background-color: red;
}
#box4 {
  display: inline-block;
  width: 25px;
  height: 25px;

  background-color: yellow;
}
#box5 {
  display: inline-block;
  width: 25px;
  height: 25px;

  background-color: green;
}
#box6 {
  display: inline-block;
  width: 25px;
  height: 25px;

  background-color: brown;
}
h4 {
  position: absolute;
  background-color: red;
  padding: 5px;
  display: inline-block;
  color: white;
  letter-spacing: 1.5px;
  top: -12px;
  left: -30px;
}
.flex {
  display: flex;
  gap: 15px;
}
/* .price {
    margin-top: 10px;
  } */
/* main {
  display: flex;
  flex: 0 0 550px;
  gap: 15px;
} */
aside {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 10px;
  width: 250px;
  margin: 0;
}
aside h2 {
  margin: 0;
  font-size: 25px;
}
.sub-p {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  margin-bottom: 10px;
}
.sub-p p {
  margin: 0;
}
.ship {
  margin: 0;
}
.box-c {
  display: flex;
  justify-content: space-between;
}
aside ul {
  margin-right: 5px;
}
aside li:first-child {
  margin-top: 0;
}
aside,
.sub-p {
  margin-top: 10px;
}
.main-c {
  display: grid;
  grid-template-columns: 200px 200px 1fx;
  column-gap: 20px;
}
.h1 {
  grid-column: 1/4;
}
.img {
  grid-column: 1/2;
  grid-row: 2/2;
  height: 200px;
}
button {
  grid-column: 1/4;
}
